<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZincBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ZincBrowser.Properties.Settings>
            <setting name="BorderColor_R" serializeAs="String">
                <value>142</value>
            </setting>
            <setting name="BorderColor_G" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="BorderColor_B" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="BaseTransp" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PanelTint_R" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="PanelTint_G" serializeAs="String">
                <value>74</value>
            </setting>
            <setting name="PanelTint_B" serializeAs="String">
                <value>181</value>
            </setting>
            <setting name="BorderThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderRadius" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaterialStyle" serializeAs="String">
                <value>tabbed</value>
            </setting>
            <setting name="AccentColor_R" serializeAs="String">
                <value>162</value>
            </setting>
            <setting name="AccentColor_G" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="AccentColor_B" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="BorderStyle" serializeAs="String">
                <value>solid</value>
            </setting>
        </ZincBrowser.Properties.Settings>
    </userSettings>
</configuration>