<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.11.60" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.2420.47" targetFramework="net472" />
  <package id="SoftCircuits.IniFileParser" version="2.5.0" targetFramework="net472" />
  <package id="WinBlur" version="1.0.0" targetFramework="net472" />
</packages>